@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
/* font-family: 'Mansalva', cursive; */

@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');
/* font-family: 'Ranga', cursive; */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */

@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
/* font-family: 'Kalam', cursive; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  /* For browser who doesn't suppoert gradient */
  background: #fd5e53;
  background: linear-gradient(to bottom,
      #df2545 0%,
      #dba013 100%);
}

.box {
  height: 45vh;
  width: 50vw;
  border-radius: 100px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  /* Moves the box so it's centered to the middle of the screen */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px #252525;
}

.box p {
  font-size: 52px;
  font-family: 'Kalam', cursive;
  /* font-weight: bold; */
  text-align: center;
  margin: 8vw;

}

/* STANDARD SCREEN */
@media only screen and (max-width: 1080px) {

}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .box p {
    font-size: 32px;
    margin: 5vw;
    /* Breaks long words on mobile */
    word-break: break-word;
    /* Auto adds hyphens, except in Chrome */
    hyphens: auto;
  }
}
